body {
    font-size: 22px;
}

.sidebar {
    display: block;
    padding: 20px;
    position: sticky;
    top: 0;
}

.container {
    display: flex;
}

.form {
    padding: 10px;
}

.form input {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #000;
}